@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-image: linear-gradient(
    295deg,
    hsl(0deg 0% 92%) 0%,
    hsl(282deg 65% 85%) 25%,
    hsl(280deg 86% 77%) 50%,
    hsl(279deg 96% 68%) 75%,
    hsl(281deg 100% 50%) 100%
  ); */
  background: #7250ff;
  color: #e4e4e4;
  line-height: 1.5;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.header {
  padding: 50px;
}

@media screen and (max-width: 650px) {
  body {
    width: initial;
  }

  h1 {
    font-size: 1.5rem;
  }

  .header {
    padding: 20px;
  }
}
